<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/patriciaandreica/Desktop/Java_Maven/src/test/java/Testcases">
        <classes>
            <class name="Testcases.LogInTest">
                <methods>
                    <include name="setUp"/>
                    <include name="checkName"/>
                    <include name="method1"/>
                    <include name="tearDown"/>
                </methods>
            </class>
            <class name="Testcases.ShoppingCartTest">
            </class>
            <class name="Testcases.ReviewTest">
            </class>
            <class name="Testcases.ProductDetailTest">
            </class>
            <class name="utils.WebDriverSetup">
            </class>
        </classes>
    </test>
</suite>